/*global styles*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: #aaa
}

/* app styles*/


header {
  height: 100px;
  border-bottom: 2px solid #777
}

header div {
  width: 960px;
  margin: 0 auto;
}

header div h1:hover{
  color: #bbb;
}

header div h1 {
  float: left;
  margin-right: 100px;
  margin-top: 40px;
  color: #111;
  letter-spacing: 0.0714286em;
  font-size: 35px;
}

nav ul {
  float: right;
}


nav ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 45px;
  color: #bbb;
}

nav ul li:hover{
  border-bottom: black solid 1px;
  margin-top: -1px;
}

nav ul li.social-links {
  margin-right: 10px;
}

nav ul li.social-links img {
  height: 20px;
  width: 20px;
}

main {
  width: 960px;
  margin: 30px auto;
}

.profile-photo {
  width: 960px;
  height: 450px;
}

.break {
  height: 1px;
  width: 100%;
  margin:30px 0px 20px 0px;
  border-top: 2px solid #777;

}

h2 {
  font-size: 50px;
  color: #848484;
  margin-bottom: 20px;
}

div.me-block img {
  float: left;
  margin-right: 15px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border-bottom: 10px;
  width: 300px;
  height: 300px;
}

div.me-block p {
  font-size: 25px;
  color: #444;
  margin-bottom: 10px;
}

.contact-me ul {
  text-align: center;
  margin: 50px 0px;
}

.contact-me ul li.social-links:hover {
  border-bottom: black solid 1px;
}

.contact-me ul li {
  display: inline-block;
  margin: 10px 50px 30px 0px;
  border-bottom: white solid 1px;
  font-size: 25px;
  color: #777;
}

.contact-me ul li.social-links img{
  height: 40px;
  width: 40px;
}

.sub-resume-1 {
  margin-left: 20px;
  padding: 15px 0px;
}


.resume ol li h4 {
  font-size: 30px;
}

.resume ol li p {
  width: 800px;
  font-size: 20px;
  margin: 10px 0px 10px 20px;
}

.resume ol li ul {
  font-size: 20px;
  margin: 10px 0px 10px 20px;
}

.resume ol li ul li {
  margin-top: 5px;
}

.fun-facts p {
  font-size: 25px;
  margin: 10px 0px 20px 50px;
}

.fun-facts ol {
  font-size: 20px;
  margin: 10px 0px 10px 20px;
  list-style:square;
  margin-left: 50px;
}

.fun-facts ol li {
  margin-top: 10px;
  border-bottom: 1px dashed #777
}

footer {
  width: 100%auto;
  height: 100px;
  text-align: center;
  background-color: #eee;

}
